services:
  backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: weather_backend
    environment:
      - VISUALCROSSING_API_KEY=${VISUALCROSSING_API_KEY}
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: weather_frontend
    ports:
      - "8080:80"
    restart: unless-stopped

# Poznámka: Frontend v JavaScriptu volá API na http://localhost:8000
